<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.gmail.maxdiland.drebedengireports" >

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".activity.SplashScreenActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.SearchFormActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name=".activity.ChooseDbActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name=".activity.SearchResultActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name=".activity.RequestChoiceActivity"
            android:label="@string/title_activity_request_choice" >
        </activity>
    </application>

</manifest>
